@{
    ViewData["Title"] = "";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This Application is designed to help organize and manage Sacrament Meetings for the Church of Jesus Chrsit of Latter-Day Saints.</p>
<p>The Sacrament Meeting Planner is a guideline to help members and leaders create plans for their sacrament meetings in their wards and branches.</p>

