@{
    ViewData["Title"] = "";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    The Church of Jesus Christ of Latter-Day Saints<br />
    Salt Lake City, UT<br />
    <abbr title="Phone">P:</abbr>
    800.lovegod
</address>

<address>
    <strong>Support:</strong> <a href="mailto:LDSSupport@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:LDSMarketing@example.com">Marketing@example.com</a>
</address>
