@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>
@{
    ViewData["Title"] = "Student Body Statistics";
}
<style>
    img {
        height: 200px;
        width: 300px;
    }

    * {
        font-family: 'Oswald', sans-serif;
        color: darkmagenta;
    }

    div.jumbotron {
        background-color: lightgoldenrodyellow;
    }
</style>
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

<h2>About</h2>

<ul>
    <li><b>Name:</b> JT Emerson</li>
    <li><b>Address:</b> 166 N 5th W, Rexburg ID 83440</li>
    <li><b>Phone:</b> (20)468-1818</li>
</ul>