@{
    ViewData["Title"] = "Home Page";
}

<style>
    img{
        height: 200px;
        width: 300px;
    }
    * {
        font-family: 'Oswald', sans-serif;
        color: darkmagenta;
    }
    div.jumbotron{
        background-color: lightgoldenrodyellow;
    }

</style>

<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

<div class="jumbotron">
    <h1>Emerson University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Rethinking Education</h2>
        <img src="~/images/WE-AB093_EARNIN_P_20160323143657.jpg" />
    </div>
    <div class="col-md-4">
        <h2>Breaking the Glass Ceiling</h2>
        <img src="~/images/glass_ceiling_for_women.jpg" />
    </div>
    <div class="col-md-4">
        <h2>Enrolling the Best</h2>
        <img src="~/images/hispanic-students-wears-lab-coats-while-using-microscope-in-biology-C5566F.jpg" />
    </div>
</div>